

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 24px 94px;
}

.header_menu-list {
  display: flex;
  font-size: 18px;
  list-style-type: none;
}

.header_menu-item_active {
  padding: 44px 36px 39px 26.5px;
}

.special-list-item {
  padding-left: 7px;
  list-style-type: circle;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 105px;
}
.header_logo-image {
  max-width: 100%;
}

.adress {
  width: 240.52px;
  margin-left: 184px;
  font-size: 18px;
  line-height: 24px;
}

.cover {  /* фон */
  position: relative;
  height: 757px;
  background: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay { /* темная подложка */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover_title { 
  position: relative;
  text-align: left;
  padding: 165px 50px 237px 50px;
}

.accent-span {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-size: 100px;
}

.first-letter {
  letter-spacing: 30px;
}

.second-letter {
  letter-spacing: 60px;
}

.third-letter {
  letter-spacing: 0;
}

.text-center {
  text-align: center;
  letter-spacing: 40px;
}

.text-right {
  text-align: right;
  letter-spacing: 30px;
}

