

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 24px 94px;
}

.header_menu-list {
  display: flex;
  font-size: 18px;
  list-style-type: none;
}

.header_menu-item_active {
  padding: 44px 36px 39px 26.5px;
}

.special-list-item {
  padding-left: 7px;
  list-style-type: circle;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 105px;
}
.header_logo-image {
  max-width: 100%;
}

.adress {
  width: 240.52px;
  margin-left: 184px;
  font-size: 18px;
  line-height: 24px;
}

.cover {
  position: relative;
  max-height: 757px;
  background: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  he
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover_title { 
  position: relative;
  padding: 165px 50px 237px 50px;
  text-align: left;
}

.accent-span {
  display: block;
  margin-bottom: 7px;
  color: #fff;
  font-size: 100px;
}

.aligned-text {
  text-align: left;
}

.letter-spacing-extended_1 {
  letter-spacing: 28px;
}

.no-letter-spacing_1 {
  margin-left: 11px;
}

.aligned-text_center {
  margin-right: 60px;
  text-align: center;
}

.letter-spacing-extended_2 {
  letter-spacing: 31px;
}

.aligned-text_right {
  margin-right: -35px;
  text-align: right;
}

.letter-spacing-extended_3 {
  letter-spacing: 32.5px;
}

.no-letter-spacing_3 {
  margin-right: 30px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  color:#fff
}