.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 94px 24px;
}

.header-list {
  display: flex; 
  align-items: center;
  font-size: 18px;
  list-style: none;
}

.header-item {
  text-align: center;
  padding-left: 26px;
  padding-right: 33.5px;
}

.header-link {
  text-decoration: none; 
}

.header-item.active {
  padding-left: 0px;
  list-style: circle;
}

.header-link.active {
  text-decoration: none; 
  border-bottom: 1px solid #000
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 105px;
  margin-right: 180px;
}

.address {
  margin-right: 63px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.address a[href^="tel"], 
.address a[href^="mailto"] {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.cover {
  position: relative;
  z-index: -2;
  display: block;
  height: 757px;
  background: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1100px;
  margin: 0 auto;
}

.cover__content {
  position: relative;
  padding: 165px 50px 0;
}

.cover_title { 
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.accent-span {
  display: block;
  margin-bottom: 7px;
  color: #fff;
  font-size: 100px;
}

.aligned-text {
  text-align: left;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing_left {
  margin-left: 6px;
}

.aligned-text_center {
  margin-right: 55px;
  line-height: 123px;
  text-align: center;
  letter-spacing: 6px;
}

.aligned-text_right {
  margin-top: -1px;
  margin-right: -31px;
  line-height: 105px;
  text-align: right;
}

.no-letter-spacing_right {
  margin-right: 37px;
}

.cover__description {
  position: absolute;
  display: flex;
  align-items: center;
}

.description-text {
  margin: 139px 28px;
  color: #fff;
  font-weight: lighter;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  margin-bottom: 5px;
  margin-left: 52px;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  height: 100%;
  margin: 179px 24px 146px;
}

.lots__heading {
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 334px;
  height: 563px;
  margin-top: 7px;
  color: #fff;
}

.card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 51px 40px 0;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  position: relative;
  margin-top: auto;
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  z-index: 2;
}

.card_type_film {
  background: url('../images/card-lot-01.jpg');
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background: url('../images/card-lot-02.jpg');
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background: url('../images/card-lot-03.jpg');
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-transform:lowercase;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.about {
  width: 1052px;
  height: 595px;
  margin: 146px 24px 180px 24px;
}

.about-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 70px 600px 47px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  background-color: #000;
}

.about__column-right {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 19px 0 13px 0;
}

.about__title {
  position: absolute;
  top: -128px;
  margin-left: -18px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-left: -18px;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 0.4px;
}

.about__text-2 {
  width: 693px;
  margin-top: 24px;
  margin-left: -18px;
  font-size: 20px;
  line-height: 24px;
}

.word-1 {
  word-spacing: 2px;
}

.word-2 {
  word-spacing: 1.5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2px;
  font-size: 18px;
}

.footer_adress {
  margin: 2px 0 0 51px;
  line-height: 24.3px;
}

.footer__menu {
  margin-top: 3px;
  padding-left: 35px;
  text-align: center;
  
}

.footer__menu-list {
  border: #000 1px;
  list-style: none;
}

.footer__social-link {
  display: flex;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.footer__social-link-item {
  margin-right: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}